.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.filter {
  flex: 1;
  padding: 10px;
}

.table {
  flex: 4;
  margin: 10px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}


